<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contractor Home</title>
    </head>
    <body>
        <header>
            Welcome, {{contractor.alias}}

            <a href="/logout">Log out</a>
        </header>
        <div id="open_proj">
            <h3>{{contractor.alias}}, here are the available projects!</h3>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Measurement</th>
                    <th>Description</th>
                    <th>Customer</th>
                    <th>Action</th>
                </tr>
                    {% for project in projects%}
                <tr>
                    <td>{{project.title}}</td>
                    <td>{{project.location}}</td>
                    <td>{{project.measurement}}</td>
                    <td>{{project.description}}</td>
                    <td>{{project.customer}}</td>
                    <td><a href="/bid_form/{{project.id}}">Place bid</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div id="mybids">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Project</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bid in contractor.bids.all%}
                    <tr>
                        <th scope="row">{{bid.id}}</th>
                        <td>{{bid.project.title}}</td>
                        <td>Placeholder for status</td>
                        <td><a href="/edit_bid/{{bid.id}}"></a></td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>


        </div>
    </body>
</html>