<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Open Bid</title>
</head>

<body>
    < <h2>Project Completion Survey</h2>
    
    <h3>Project Details</h3>
    <p>Project Title</p>
    <p>Location</p>
    <p>Measurements</p>
    <p>Desription</p>
    <p>Bidprice</p>
    <p>Bid Scope</p>
    <p>Bid Date created    Bid Date accepted</p>
    
    <h3>Customer Details</h3>
    <p>First and Last Name</p>
    <p>City, State</p>

    <h3>Contractor Details</h3>
    <p>Contractor Comany Name and Alias</p>
    <p>Company City, State</p>

    <h2>Project Feedback</h2>


    <p>Rate your satisfaction with the project and overall contractor performance</p>
    <p>Would you recommend this contractor for future projects</p>
    <p>General Project Comments</p>



</body>
